.code{
    padding: 30px;
    position: relative;
    display: inline-block;
    
}

.smallcode{
    padding: 10px;
    position: relative;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

.input{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    text-align: center;
    font-size: 1rem;
}

.block{
    padding: 5px;
    border-style: solid;
    border-color:black;
    background-color: rgba(127, 255, 212, 0.212);
    font-size: 18px;
    text-align: center;
}